# 빅프9조

분석방법
순찰 영역은 원형이지만 격자점 내부에서는 분석을 정사각형으로 함

# 기본 설정

 필수 라이브러리 import

In [1]:
import numpy as np
import pandas as pd

from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

import folium
from sklearn.preprocessing import MinMaxScaler
from IPython.display import display, HTML

파일경로, csv인코딩 설정

In [2]:
data_path = "전처리완료데이터/"
raw_path = "전처리필요데이터/"
encoding = "cp949"
extension = ".csv"

경찰서 목록

In [3]:
police = np.array([37.679699, 127.055066], dtype=np.float64)

격자점 생성에 필요한 상수 선언

In [4]:
NS_DIFF_1M = 0.000007
EW_DIFF_1M = 0.000009
PATROL_HR = 900
GRID_DIFF = 90

### 데이터를 순찰 반경 안의 것만 잘라내는 함수

In [5]:
def filtering(data, police, mode = "시설"):
    distance = PATROL_HR + GRID_DIFF/2 + 5 if mode == "시설" else PATROL_HR + 10 
    ft = (data[["위도", "경도"]] - police).copy()
    ft.loc[:, "위도"] /= NS_DIFF_1M
    ft.loc[:, "경도"] /= EW_DIFF_1M
    ft = np.sqrt( np.sum( np.square(ft), axis=1 ))
    return data.loc[ft <= distance, :].reset_index(drop=True)

# 기본 격자점 생성

기본 격자점 반환함수

In [6]:
def grids(police):
    hcount = PATROL_HR//GRID_DIFF
    ew = np.arange(-hcount, hcount + 1, dtype=np.float64)
    ns = ew.reshape(-1,1).copy()
    ew *= EW_DIFF_1M * GRID_DIFF
    ns *= NS_DIFF_1M * GRID_DIFF
    
    result = np.full((2*hcount+1, 2*hcount+1, 2), police, dtype=np.float64)
    result[:,:,0] += ns
    result[:,:,1] += ew
    
    return pd.DataFrame(result.reshape(-1,2), columns=["위도", "경도"])

원형 격자점 생성

In [7]:
police_grid = grids(police)
police_grid = filtering(police_grid, police, "격자")
police_grid

            위도          경도
0    37.673399  127.054256
1    37.673399  127.055066
2    37.673399  127.055876
3    37.674029  127.051826
4    37.674029  127.052636
..         ...         ...
320  37.685369  127.057496
321  37.685369  127.058306
322  37.685999  127.054256
323  37.685999  127.055066
324  37.685999  127.055876

[325 rows x 2 columns]

# 장소별 범죄 발생 확률 이용

### 샘플링

뽑을 개수 (5개)

In [8]:
SAMPLING = 5

격자점 범위 내에서 무작위로 5개 점 추가

In [9]:
def sampled_grids(grid):
    interval_size = SAMPLING+1
    result = np.zeros((grid.shape[0]*interval_size, 2), dtype=np.float64)
    for i in range(0, result.shape[0], interval_size):
        ran = np.zeros((interval_size, 2), dtype=np.float64)
        ran[1:] = np.random.uniform(-1, 1, (interval_size-1, 2))
        ran[:, 0] *= (GRID_DIFF/2)*NS_DIFF_1M
        ran[:, 1] *= (GRID_DIFF/2)*EW_DIFF_1M
        ran += grid.values[i//interval_size]
        result[i:i+interval_size] += ran
    return pd.DataFrame(result, columns = ["위도", "경도"])

추가한 데이터 csv내보내기

In [10]:
police_sampled = sampled_grids(police_grid)
police_sampled

             위도          경도
0     37.673399  127.054256
1     37.673229  127.054428
2     37.673392  127.054108
3     37.673572  127.054030
4     37.673676  127.054464
...         ...         ...
1945  37.686198  127.055889
1946  37.686296  127.056008
1947  37.685831  127.055666
1948  37.686077  127.055867
1949  37.686191  127.055617

[1950 rows x 2 columns]

In [11]:
#police_sampled.to_csv(raw_path + "sampled_grid" + extension, index=False, encoding=encoding)

### 주소로 변환

https://www.geoservice.co.kr/

내보낸 csv 파일 이용, 위 링크에서 역지오코딩, 주소얻기

주소 기본 데이터 생성

In [12]:
def addr_data(file_path):
    data=pd.read_csv(file_path)
    data["이름"] = None
    data["확률"] = None
    data["index"]=[i//(SAMPLING+1) for i in range(data.shape[0])]
    return data

In [13]:
police_addr = addr_data(data_path + "sampled_addr.csv")
police_addr

,위도,경도,지번주소,도로명주소,이름,확률,index
0,37.673399,127.054256,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,None,None,0
1,37.673226,127.053969,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,None,None,0
2,37.673140,127.054040,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,None,None,0
3,37.673158,127.053899,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,None,None,0
4,37.673174,127.054229,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,None,None,0
...,...,...,...,...,...,...,...
1945,37.686223,127.055503,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,None,None,324
1946,37.685906,127.055661,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,None,None,324
1947,37.685822,127.055937,서울특별시 노원구 상계동 산 12-1,서울특별시 노원구 동일로 1772,None,None,324
1948,37.686147,127.055588,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,None,None,324
1949,37.685694,127.056002,서울특별시 노원구 상계동 산 12-1,서울특별시 노원구 동일로 1772,None,None,324

# 건물 이름 크롤링

지연 시간(1초), 웹 지도 url(카카오맵) 설정

In [14]:
DELAY_TIME = 0.5
map_url = "https://map.kakao.com/"

브라우저 드라이버 반환(no 전달시 창 안뜸)

In [15]:
def openweb(mode="window"):
    if mode == "no":
        options = wb.ChromeOptions()
        options.add_argument('headless')
        driver = wb.Chrome(options=options)
    else:
        driver = wb.Chrome()
    driver.get(map_url)
    time.sleep(DELAY_TIME)
    return driver

검색어 입력 후 실행

In [16]:
def search(browser, address):
    search_box = browser.find_element(By.ID, "search.keyword.query")
    while search_box.get_attribute("value"):
        search_box.send_keys(Keys.CONTROL, 'a')
        search_box.send_keys(Keys.BACKSPACE)
    search_box.send_keys(address)
    search_box.send_keys(Keys.RETURN)
    time.sleep(DELAY_TIME)

### 크롤링 함수

도로나 강 야외의 경우 지번주소는 있지만 우편번호가 없다

지번주소 먼저 검색 -> 야외 분류

우편번호 있으면 -> 도로명주소 검색

건물이름 뜨면 -> 이름 반환

안뜨면 -> 우편번호 반환

In [17]:
def find_name(browser, addr, road_addr):
    if "산" in addr:
        return "산"
    if "지하" in road_addr:
        return "지하철"
    search(browser, addr)
    try:
        postage = browser.find_element(By.CLASS_NAME, "zip")
    except NoSuchElementException:
        return "nozip"
    else:
        postnum = postage.text
        search(browser, road_addr)
        try:
            buildname = browser.find_element(By.CLASS_NAME, "building")
        except NoSuchElementException:
            return postnum
        else:
            return buildname.text

주소 전부 검색 후 csv로 내보내기

In [18]:
def search_to_csv(browser, data, file_path):
    for i in range(len(data.index)):
        data.iloc[i, 4] = find_name(browser, data.iloc[i, 2], data.iloc[i, 3])
    data.to_csv(file_path, index=False, encoding=encoding)

In [19]:
#browser = openweb("no")
#search_to_csv(browser, police_addr, data_path+"sampled_name.csv")

### 이름을 토대로 유형 분류, 확률 점수 부여

In [20]:
police_per = pd.read_csv(data_path + "sampled_name.csv", encoding=encoding)
set(police_per["이름"])

{'(우) 01319',
 '(우) 01320',
 '(우) 01321',
 '(우) 01322',
 '(우) 01323',
 '(우) 01604',
 '(우) 01605',
 '(우) 01606',
 '(우) 01607',
 '(우) 01608',
 '(우) 01609',
 '(우) 01610',
 '(우) 01611',
 '(우) 01612',
 '(우) 01613',
 '(우) 01621',
 '(우) 01622',
 '(우) 01623',
 '(우) 01625',
 '(우) 01626',
 '(우) 01628',
 '(우) 01629',
 '(우) 01630',
 'D.S 아파트',
 'K마트',
 'nozip',
 '가람아트빌',
 '가로판매대',
 '갈월경로회',
 '경서아트빌',
 '광산산업',
 '극동아파트',
 '기아자동차서비스도봉사업소',
 '남광하이빌',
 '노원교회',
 '노원어린이집',
 '노일중학교',
 '노일초등학교',
 '달뜨는마을빌라',
 '대망드림힐아파트',
 '대성빌딩',
 '대원파크빌',
 '대은빌딩',
 '대한빌딩',
 '덕산맨션',
 '도봉2 파출소',
 '도봉기적의도서관',
 '도봉동 실내스포츠센터',
 '도봉파크빌2단지',
 '도봉한신아파트',
 '도우로펌타워',
 '동명빌딩',
 '동아에코빌아파트',
 '동일씨티빌',
 '두산아파트',
 '래미안도봉아파트',
 '롯데리아',
 '리언하우스',
 '마포갈비',
 '바이크종합매장',
 '보성빌딩',
 '북경짜장',
 '북부종합사회복지관',
 '북부현대아파트',
 '비콘드림힐아파트',
 '사랑요양병원',
 '산',
 '삼덕빌딩',
 '삼보빌라',
 '삼성디지털센터',
 '삼성아파트',
 '삼성타운',
 '삼천리',
 '삼호아트빌',
 '삼환도봉아파트',
 '상계1동우체국',
 '상계1동주민센터',
 '상계1파출소',
 '상계공업사',
 '상계대림아파트',
 '상계동 마을회관',
 '상계동강강술래',
 '상계빌딩',
 '상계성모정형외과의원',
 '상계충신교회',
 '상록수2단지아파트',
 '상록수아파트',
 '상원빌딩',
 '새온교회',
 '서광아파트',
 '서울북부지방법원',
 '서울수락초등학교',
 '서울해장국',
 '서원아파트',
 '성균관대학교종합운동장',
 '성원빌딩',
 '성지상계빌라',
 '송천감리교회',
 '수락119안전센터',
 '수락고등학교',
 '수락네스트죤',
 '수락리버시티 3단지',
 '수락리버시티4단지',
 '수락산 늘푸른아파트',
 '수락산벨리체아파트',
 '수락산역',
 '수락아트빌',
 '수락중학교',
 '수락파크빌아파트',
 '수락프라자',
 '수락한신아파트',
 '수락현대아파트',
 '스위트리아',
 '스토빌',
 '시온6동',
 '시온빌리지',
 '신영산업빌딩',
 '신일아트빌',
 '쎄레또레',
 '아트빌',
 '양우내안애아파트',
 '양지그린빌라',
 '에덴하우스',
 '엘지 그랑빌',
 '영창악기',
 '예은교회',
 '오복주택',
 '우림루미아트',
 '우영팰리스빌',
 '우진빌라',
 '월드쉐르빌',
 '유성상가',
 '유성파크빌라',
 '유원도봉아파트',
 '윤일빌딩',
 '은빛1단지아파트',
 '은빛2단지아파트',
 '은빛3단지아파트',
 '은혜선교유아교실',
 '일석빌딩',
 '일성운수, 일신교통',
 '일신교통',
 '정우빌라',
 '정원베스빌',
 '주공아파트',
 '창일빌딩',
 '천주교 수락교회',
 '청솔아파트',
 '춘천닭갈비',
 '태정빌딩',
 '터주대감',
 '토마토파르코',
 '통일상가',
 '티에프그룹빌딩',
 '하나님의교회세계복음선교협회',
 '하이마트',
 '하이베라스',
 '학교법인 덕성학원 상계동 복합시설',
 '한국도심공항터미널',
 '한밭법조타워',
 '한사랑메디컬빌딩',
 '한솔빌라',
 '한신실업사',
 '한올빌딩',
 '해밀1동',
 '해밀2동',
 '홍파복지원',
 '황해부동산',
 '희성오피앙',
 '힐스테이트 도봉역 웰가'}

장소 분류에 따른 범죄확률

In [21]:
crime_per = pd.read_csv(data_path+"processed_crime.csv", encoding=encoding)
crime_per

,공업,공원,교통,기타,사무,숙박,상업,아파트,야외,유흥,의료,종교,주택,학교
0,0.00583,0.010653,0.043463,0.180887,0.025199,0.010841,0.123032,0.108198,0.324937,0.065698,0.007179,0.001892,0.087457,0.004735

분류 결과를 바탕으로 이름이 어떤유형인지 분류

In [22]:
def namespace(file_path):
    space = dict()
    with open(file_path, 'r', encoding='UTF8') as file:
        for i in file:
            temp=i.split(" - ")
            space[temp[0]] = temp[1].strip()
    return space

자료에 맞춰 확률 계산후 대입

In [23]:
def insert_percentage(file_path, addr_data):
    space = namespace(file_path)
    for i in space:
        addr_data.loc[addr_data["이름"]==i, "확률"] = crime_per.loc[0, space[i]]

In [24]:
insert_percentage(data_path + "상계1_name_category.txt", police_per)       
police_per

,위도,경도,지번주소,도로명주소,이름,확률,index
0,37.673399,127.054256,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,노일중학교,0.004735,0
1,37.673226,127.053969,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,노일중학교,0.004735,0
2,37.673140,127.054040,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,노일중학교,0.004735,0
3,37.673158,127.053899,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,노일중학교,0.004735,0
4,37.673174,127.054229,서울특별시 노원구 상계동 1044,서울특별시 노원구 동일로231길 24,노일중학교,0.004735,0
...,...,...,...,...,...,...,...
1945,37.686223,127.055503,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,nozip,0.324937,324
1946,37.685906,127.055661,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,nozip,0.324937,324
1947,37.685822,127.055937,서울특별시 노원구 상계동 산 12-1,서울특별시 노원구 동일로 1772,산,0.324937,324
1948,37.686147,127.055588,서울특별시 노원구 상계동 1202-1,서울특별시 노원구 동일로 1772,nozip,0.324937,324
1949,37.685694,127.056002,서울특별시 노원구 상계동 산 12-1,서울특별시 노원구 동일로 1772,산,0.324937,324

동일 지역에서 샘플된 데이터끼리 확률 합 구하고 격자점 데이터에 새로운 열로 추가

In [25]:
def insert_location(grid, percentage_data):
    score = percentage_data[["index", "확률"]].groupby("index").mean()
    grid["location"] = score

In [26]:
insert_location(police_grid, police_per)
police_grid

            위도          경도  location
0    37.673399  127.054256  0.004735
1    37.673399  127.055066  0.004735
2    37.673399  127.055876  0.184405
3    37.674029  127.051826  0.127037
4    37.674029  127.052636  0.145864
..         ...         ...       ...
320  37.685369  127.057496  0.324937
321  37.685369  127.058306  0.324937
322  37.685999  127.054256  0.144321
323  37.685999  127.055066  0.288814
324  37.685999  127.055876  0.324937

[325 rows x 3 columns]

# 시설물 데이터 이용

시설물 점수 기준

시설물 밀도 계산 => 격자점 반경 내 개수 / 전체 범위 내 개수

이때 데이터를 순찰반경에 맞게 필터링해 쓸 것이므로 전체 범위 개수는 필터링된 데이터프레임의 행 개수이다

긍정적 시설(cctv 등)일 경우 밀도 뺌

부정적 시설(유흥업소 등)일 경우 밀도 더함

### 데이터 준비

안심시설물, cctv, 보안등 유흥업소

전체데이터는 너무 많으므로 filtering() 이용

긍정요소, 부정요소 정의

In [27]:
failcity_data = {"ansim" : pd.read_csv(data_path+"processed_ansim.csv", encoding=encoding),
                 "cctv"  : pd.read_csv(data_path+"processed_cctv.csv", encoding=encoding),
                 "light" : pd.read_csv(data_path+"processed_light.csv", encoding=encoding),
                 "salon" : pd.read_csv(data_path+"processed_salon.csv", encoding=encoding),}
for k, v in failcity_data.items():
    failcity_data[k]=filtering(v,police)
    
positive = ["ansim", "cctv", "light"]
negative = ["salon"]

해당 범위 안에 목표물이 몇개 있는가?

In [28]:
def location_count(data, location):
    ns_min = location.iloc[0] - GRID_DIFF/2*NS_DIFF_1M
    ns_max = location.iloc[0] + GRID_DIFF/2*NS_DIFF_1M
    ew_min = location.iloc[1] - GRID_DIFF/2*EW_DIFF_1M
    ew_max = location.iloc[1] + GRID_DIFF/2*EW_DIFF_1M
    return len(data.loc[(data["위도"] >= ns_min)&
                         (data["위도"] <= ns_max)&
                         (data["경도"] >= ew_min)&
                         (data["경도"] <= ew_max) , :].index)

격자점 데이터에 시설 밀도 열 추가하는 함수

In [29]:
def insert_facility(grid, data):
    for k, v in data.items():
        for i in grid.index:
            grid.loc[i, k] = location_count(v, grid.loc[i, ["위도", "경도"]])
        total = grid.loc[:, k].sum()
        if total != 0:
            grid.loc[:, k] /= grid.loc[:, k].sum()
        else:
            grid.loc[:, k] = 0

밀도를 토대로 점수 계산

In [30]:
def score(grid):
    grid["score"] = grid["location"]
    grid.drop(columns=["location"], inplace=True)
    for k in failcity_data.keys():
        mode = -1 if k in positive else 1
        grid["score"] += mode*grid[k]
        grid.drop(columns=[k], inplace=True)

밀도 계산후 열로 추가

In [31]:
insert_facility(police_grid, failcity_data)
police_grid

            위도          경도  location  ansim      cctv     light  salon
0    37.673399  127.054256  0.004735    0.0  0.000000  0.003187    0.0
1    37.673399  127.055066  0.004735    0.0  0.056962  0.000000    0.0
2    37.673399  127.055876  0.184405    0.0  0.025316  0.003187    0.0
3    37.674029  127.051826  0.127037    0.0  0.012658  0.022351    0.0
4    37.674029  127.052636  0.145864    0.0  0.012658  0.022308    0.0
..         ...         ...       ...    ...       ...       ...    ...
320  37.685369  127.057496  0.324937    0.0  0.000000  0.000000    0.0
321  37.685369  127.058306  0.324937    0.0  0.000000  0.000000    0.0
322  37.685999  127.054256  0.144321    0.0  0.000000  0.000000    0.0
323  37.685999  127.055066  0.288814    0.0  0.000000  0.000000    0.0
324  37.685999  127.055876  0.324937    0.0  0.000000  0.000000    0.0

[325 rows x 7 columns]

점수 계산후 위경도, 점수 열만 남기기

In [32]:
score(police_grid)
police_grid

            위도          경도     score
0    37.673399  127.054256  0.001548
1    37.673399  127.055066 -0.052227
2    37.673399  127.055876  0.155901
3    37.674029  127.051826  0.092027
4    37.674029  127.052636  0.110899
..         ...         ...       ...
320  37.685369  127.057496  0.324937
321  37.685369  127.058306  0.324937
322  37.685999  127.054256  0.144321
323  37.685999  127.055066  0.288814
324  37.685999  127.055876  0.324937

[325 rows x 3 columns]

# 지도에 시각화

지도에 해당 위도경도에 위치한 점 찍기

In [33]:
def draw_marker(m, grid, color):
    color = "#" + color
    for i in grid[["위도","경도"]].values:
        folium.Circle(location=i, radius=2, color=color, fill_color=color).add_to(m)

시각화를 위해 점수를 -255(초록)~255(빨강)으로 변환 (min-max 스케일링 이용)

변환후 rgb코드에 맞게 문자열 생성 안전->초록, 위험->빨강

In [34]:
def colorstr(num):
    b = num>=0
    num=hex(int(255-abs(num)))[2:]
    if len(num)==1:
        num="0"+num
    return "#ff"+num*2 if b else "#"+num+"ff"+num

In [35]:
def score_to_color(grid):
    score = grid["score"].copy()
    scaler = MinMaxScaler(feature_range=(-255, 255))
    score = scaler.fit_transform(score.to_frame())
    return pd.Series(score.flatten())

격자점 점수 시각화

In [36]:
def draw_score(m, grid, color):
    for i in grid.index:
        folium.Circle(location=grid.iloc[i,:2].values,
                      radius=GRID_DIFF/2,
                      color=color[i],
                      fill=True,
                      fill_color=color[i]).add_to(m)

지도객체 생성, 이름 붙이기

In [37]:
m = folium.Map(location = police, zoom_start=60)

name="상계1"
title_html = f'<h3 align="center" style="font-size:20px"><b>{name}</b></h3>'
             
m.get_root().html.add_child(folium.Element(title_html))

경찰서, 격자점, 모든 시설물 표시

In [ ]:
folium.Marker(location=police, 
              popup='지구대',
              icon=folium.Icon(color='lightblue', icon='star')
).add_to(m)

failcity_data_color = {"ansim" : '0000ff',
                       "cctv"  : '00ffff',
                       "light" : 'ffff00',
                       "salon" : 'ff00ff'}

draw_marker(m, police_grid, '000000')
for k, v in failcity_data.items():
    draw_marker(m, v, failcity_data_color[k])

점수에서 색 문자열 생성

In [ ]:
color = score_to_color(police_grid)
color

점수 시각화

In [ ]:
draw_score(m, police_grid, color)
display(m)